body {
    background-color: lightgray;
}

div {
    background-color: white;
    border: 1px solid white;
    border-radius: 20px;
    width: 60%;
    height: 5%;
    margin: auto;
    margin-top: 3%;
    padding: 30px;
}

@media screen and (max-width: 600px){
    body {
        background-color: orange;
    }
}

@media screen and (min-width:600px) and (max-width:1000px) {
    body {
        background-color:#00ABF7;
    }
}

@media screen and (min-with:1000px) {
    body {
        background-color: lightgrey;
    }
}