body { background-color: #fafafa; padding: 1.25vw 10.00vw; font-family: Arial, Verdana, Helvetica, sans-serif; }
h1 { padding: 0.625vw; background-color: #1E90FF; font: bold 2.5vw verdana, sans-serif; color: white; text-align: center; }
h2 { padding: 0.625vw; background-color: #1E90FF; font: 1.25vw verdana, sans-serif; color: white; text-align: center; }
div#carteleira { text-align: center; }
fieldset { border: 0.0625vw solid #ddd; margin: 1vw; }
legend { color: #0b77b7; font-size: 1.2vw; }
img.cartel { width: 8vw; height: 11.2vw; margin: 1vw 1vw; }
.panel { position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.4); }
.xanela { width: 50vw; margin: auto; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
div.video { background-color: #1E90FF; font-size: 25px; color: white; }
.cerrar { float: right; font-size: 35px; font-weight: bold; }
.cerrar:hover, .cerrar:focus { color: red; cursor: pointer; }